.card {
    background: black;
    margin-right: 2em;
    margin-bottom: 2em;
}
.card a {
    color: white;
    text-decoration: none;
}
.card a:hover {
    box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
}
.card-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1.4em;
}
.card-content h2 {
    
}
.card-content p {
}

/* Flexbox */

.cards {
    display: flex;
    flex-wrap: wrap;
}
.card {
    display: flex;
    flex: 0 1 12em;
}
