body {
    box-sizing: border-box;
    font-family: sans-serif;
}
.mast-card {
    background: black;
    margin-right: 1em;
    margin-bottom: 1em;
}
.mast-card a {
    color: white;
    text-decoration: none;
}
.mast-card a:hover {
    box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
}
.mast-content {
    padding: 1.4em;
}
.mast-content h1 {
    margin: 0;
    font-size: 5em;

}

/* Flexbox */

.mast {
    display: flex;
    flex-wrap: wrap;
}
.mast-card {
    display: flex;
    width: 9em;
    justify-content: center;
    
}
.mast-card a {
    display: flex;
    flex: 1 1 0;
    overflow: hidden;
}
.mast-content {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
}