body {
    box-sizing: border-box;
    font-family: sans-serif;
}
.mast h1 {
    margin: 0;
    font-size: 5em;

}

/* Flexbox */

.mast {
    display: flex;
    flex-wrap: wrap;
}

/*
.mast-card {
    display: flex;
    width: 150px;
    justify-content: center;
    
}
.mast-card a {
    display: flex;
    flex: 1 1 0;
    overflow: hidden;
}
.mast-content {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
}

@media (max-width: 500px) {
    .mast-content {
        min-width: calc(33% -1em);
    }
}