/* Root Styling */

html {
    box-sizing: border-box;
    font-family: monospace;
}
a, h1, h2, p {
    font-size: 100%;
    font-weight: normal;
}


/* Flexbox */

.mast {
    display: flex;
    flex-wrap: wrap;
}

.card#rss-box:hover {
    flex: 1 1 150px;
    transition: flex 3s;
}

/*
Kinda Cool Box Grow
.card:hover {
    flex: 1 1 150px;
    transition: flex 2s ease;
}
*/
/* 
Trippy Loop

.card#rss-box:hover {
    display: block;
    position: absolute;
    width: 100vh;
    transition-delay: 2s;
}
*/